body, header, nav, section, article, footer, ul, li, p, a {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    padding-top: 3.5%;
}

header {
    position: fixed;
    top: 0;
    background-color: #234465;
    width: 100%;
    text-align: center;
    font: normal 1rem Lucida Grande, sans-serif, monospaced;
    z-index: 1;
}

.topNav > a {
    display: inline-block;
    vertical-align: middle;
    padding: .4rem .5rem;
    margin: auto 2rem;
    text-decoration: none;
    color: white;
}

.topNav > a:hover {
    color: #c1c1c1;
}

.topNav > a.active {
    color: #c1c1c1;
}

#homeButton {
    content: url(../images/logo.png);
    width: 5%;
    margin: 0 1rem;
}

#homeButton:hover {
    content: url(../images/logo_hover.png);
}

.mainContent {
    content: url(../images/iphone.jpg);
    margin: .3rem auto .3rem auto;
    padding: 1rem;
}

.boxLinks {
    display: inline-block;
    text-align: center;
    width:100%;
    margin: 0 .03rem;
}

.boxLinks a {
    display: inline-block;
    width: 24.7%;
    height: 15rem;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}

.boxLinks > a:first-of-type{
    background: #234465;
    /*background:no-repeat url(../images/footer-pic1.png) 100%;*/
}
.boxLinks > a:nth-of-type(2){
    background: #234465;
    /*background:no-repeat url(../images/footer-pic2.png) 100%;*/
}
.boxLinks > a:nth-of-type(3){
    background: #234465;
    /*background:no-repeat url(../images/footer-pic3.png) 100%;*/
}
.boxLinks > a:last-of-type{
    background: #234465;
    /*background:no-repeat url(../images/footer-pic4.png) 100%;*/
}

body > footer p {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    color: #6e6e6e;
    padding: .3rem .7rem;
    font-size: .8rem;
}


