body, header, nav, section, article, footer, ul, li, p, a, h1 {
    margin: 0;
    padding: 0;
}

#page-wrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 3.5%;
}

body {
    font: 22px Rale, Arial, sans-serif;
}

@font-face {
    font-family: Rale;
    src: url(../fonts/Raleway-Regular.otf);
}

header {
    position: fixed;
    top: 0;
    background-color: #222;
    width: 100%;
    text-align: center;
}

.topNav > a {
    display: inline-block;
    vertical-align: middle;
    padding: .5% .5%;
    margin: .5% 3%;
    text-decoration: none;
    text-shadow: none;
    color: white;
    transition: all .75s;
}

.topNav > a:hover {
    color: rgba(92, 223, 255, .75);
}

.topNav > a.active {
    color: #5cdfff;
    text-shadow: 0 0 5px #fff;
}

section.mainContent {
    width: 60%;
    margin: 1% 10% 0 27.5%;
}

section.mainContent div.text {
    display: inline-block;
    text-align: center;
    font-size: .9em;
    float: left;
    max-width: 60%;
    margin: 10% 3% 0 0;
}

section.mainContent div.pic > img {
    content: url(../images/iphone.png);
    max-width: 32%;
    margin: 2rem auto;
}

p.copyright {
    position: absolute;
    bottom: 0;
    float: left;
    color: #6e6e6e;
    padding: .2rem 0 .2rem .7rem;
    font-size: .8rem;
}

