body, header, nav, section, article, footer, ul, li, p, a, h1 {
    margin: 0;
    padding: 0;
}

#page-wrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 3.5%;
    border-radius: 50px;
}

body {
    font: 22px Quick, arial, sans-serif;;
}

@font-face {
    font-family: Quick;
    src: url(../fonts/Quicksand-Regular.otf);
}

#blackStart {
    position: fixed;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#blackStart > p {
    position: fixed;
    top: 15%;
    left: 20%;
    right: 20%;
    text-align: center;
    background: none;
    width: 60%;
    font-size: 2em;
    color: white;
}

#head {
    display: none;
    position: fixed;
    top: 0;
    background-color: #234465;
    width: 100%;
    text-align: center;
}

#head:before {
    left: 0;
    content: '';
    width: 300px;
    height: 300px;
    background: #234465;
}

.topNav > a {
    display: inline-block;
    vertical-align: middle;
    padding: .5% .5%;
    margin: .5% 3%;
    text-decoration: none;
    text-shadow: none;
    color: white;
    font-weight: normal;
    transition: all .75s;
}

.topNav > a:hover {
    color: rgba(92, 223, 255, .75);
}

.topNav > a.active {
    color: #5cdfff;
    text-shadow: 0 0 5px #fff;
}

.topNav > a:after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 2px;
    height: 30px;
    margin: 0 0 0 3.5%;
    background: -webkit-linear-gradient(top,#234465 0%, #5cdfff 50%, #234465 100%);
    background: -moz-linear-gradient(to bottom, #234465 0%, #5cdfff 50%, #234465 100%);

}

.topNav > a:last-of-type:after, a:first-of-type:after {
    background: none;
}

#homeButton {
    display: none;
    position: absolute;
    background: #fff;
    left: 25px;
    top: 20px;
    width: 15rem;
    height: 7.5rem;
    padding: 0;margin:0;
    transition: all .75s;
    border-radius: 10px;
}

#homeButton > div{
    background: #234465 url(../images/logo.png) no-repeat center top;
    background-size: 80% 80%;
    background-position: 50% 50%;
    width: 14rem;
    height: 7rem;
    margin: .4rem auto;
    padding: 0;
    border-radius: 10px;
}

#homeButton > div:hover {
    background:#234465 url(../images/logo_hover.png) no-repeat center top;
    background-size: 80% 80%;
    background-position: 50% 50%;
}

section.mainContent {
    width: 60%;
    margin: 1% 10% 0 27.5%;
}

section.mainContent div.text {
    display: inline-block;
    text-align: center;
    font-size: .9em;
    float: left;
    max-width: 60%;
    margin: 10% 3% 0 0;
}

section.mainContent div.pic > img {
    max-width: 32%;
    margin: 2rem auto;
}

p.copyright {
    position: absolute;
    bottom: 0;
    float: left;
    color: #6e6e6e;
    padding: .2rem 0 .2rem .7rem;
    font-size: .8rem;
}

/*Slider*/

#well {
    position: absolute;
    text-align: center;
    width: 50%;
    top: 60%;
    left: 25%;
    right: 25%;
    padding: 1rem 1rem;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: -moz-linear-gradient(top, #010101, #181818);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #010101), color-stop(1, #181818));
    border: 2px solid #454545;
    -webkit-user-select: none;
}

#well > p {
    background: -moz-linear-gradient(left, #4d4d4d, 0.4, #4d4d4d, 0.5, white, 0.6, #4d4d4d, #4d4d4d);
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #6e6e6e), color-stop(0.4, #6e6e6e), color-stop(0.5, white), color-stop(0.6, #6e6e6e), color-stop(1, #6e6e6e));
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-animation: slidetounlock 3s infinite;
    -moz-animation: slidetounlock 3s infinite;
    font-size: 3.5rem;
    font-family: Quick, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    -webkit-text-size-adjust: none;
}

#slider {
    background: url(../images/logo.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 30%;
    width: 7rem;
    height: 4.5rem;
    display: inline-block;
    vertical-align: middle;
}

@-webkit-keyframes slidetounlock {
    0% {
        background-position: -250px 0;
    }
    100% {
        background-position: 500px 0;
    }
}
@-moz-keyframes slidetounlock {
     0% {
         background-position: -250px 0;
     }
     100% {
         background-position: 500px 0;
     }
}





